<!--<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns="http://www.springframework.org/schema/beans"-->
       <!--xsi:schemalocation="http://www.springframework.org/schema/beans-->
       <!--http://www.springframework.org/schema/beans/spring-beans-3.0.xsd-->
<!--">-->

    <!--<import resource="services-context.xml"></import>-->
    <!--<import resource="dao-context.xml"></import>-->

<!--</beans>-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


        <bean class="ru.testScandJavaCafee.dao.CoffeeTypeDaoImpl" id="coffeeTypeDaoImpl"/>

        <bean class="ru.testScandJavaCafee.service.CoffeeTypeServiceImpl">
            <property name="coffeeTypeDao" ref="coffeeTypeDaoImpl"/>
        </bean>

    <bean class="ru.testScandJavaCafee.dao.CoffeeOrderDaoImpl" id="coffeeOrderDaoImpl"/>

    <bean class="ru.testScandJavaCafee.service.CoffeeOrderServiceImpl">
        <property name="coffeeOrderDao" ref="coffeeOrderDaoImpl"/>
    </bean>


    <bean class="ru.testScandJavaCafee.dao.ConfigurationDaoImpl" id="configurationDaoImpl"/>

    <bean class="ru.testScandJavaCafee.service.ConfigurationServiceImpl">
        <property name="configurationDao" ref="configurationDaoImpl"/>
    </bean>
    <!--<bean class="org.springframework.web.context.support.ServletContextAttributeExporter">-->
    <!--<property name="attributes">-->
        <!--<map>-->
            <!--<entry key="coffeeOrderDao">-->
                <!--<ref bean="coffeeOrderDao"/>-->
            <!--</entry>-->
        <!--</map>-->
    <!--</property>-->
    <!--</bean>-->










    <!--<bean class="org.springframework.web.context.support.ServletContextAttributeExporter">-->
    <!--<property name="attributes">-->
        <!--<map>-->
            <!--<entry key="userDao">-->
                <!--<ref bean="coffeeTypeDaoImpl"/>-->
            <!--</entry>-->
        <!--</map>-->
    <!--</property>-->
    <!--</bean>-->
    <context:annotation-config/>

    <context:component-scan base-package="ru.testScandJavaCafee"/>

    <!--<context:component-scan base-package="ru.testScandJavaCafee.dao"/>-->



</beans>