






<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>testScandJavaJsp</display-name>

    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>ru.testScandJavaCafee.controller.Dispatcher</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/Dispatcher</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CoffeeTypeController</servlet-name>
        <servlet-class>ru.testScandJavaCafee.controller.CoffeeTypeController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoffeeTypeController</servlet-name>
        <url-pattern>/CoffeeTypeController</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CoffeeOrderController</servlet-name>
        <servlet-class>ru.testScandJavaCafee.controller.CoffeeOrderController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoffeeOrderController</servlet-name>
        <url-pattern>/CoffeeOrderController</url-pattern>
    </servlet-mapping>




    <!--<listener>-->
        <!--<listener-class>org.springframework.web.context.ContextLoaderListener-->
        <!--</listener-class>-->
    <!--</listener>-->

    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>-->
            <!--/WEB-INF/spring-context.xml-->
        <!--</param-value>-->
    <!--</context-param>-->
    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>classpath:spring</param-value>-->
    <!--</context-param>-->
    <!--<listener>-->
        <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->
    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>classpath:/**/spring-context.xml-->
        <!--</param-value>-->
    <!--</context-param>-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            WEB-INF/spring-context.xml
        </param-value>

    </context-param>

    <!--<listener>-->
        <!--<listener-class>-->
            <!--org.springframework.web.context.ContextLoaderListener-->
        <!--</listener-class>-->
    <!--</listener>-->
    <!--<servlet>-->
        <!--<servlet-name>Co</servlet-name>-->
        <!--<servlet-class>-->
            <!--org.springframework.web.servlet.DispatcherServlet-->
        <!--</servlet-class>-->
    <!--</servlet>-->







    <!--<listener>-->
        <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->

    <!--<servlet>-->
        <!--<servlet-name>springServlet</servlet-name>-->
        <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>contextConfigLocation</param-name>-->
            <!--<param-value></param-value>-->
        <!--</init-param>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>springServlet</servlet-name>-->
        <!--<url-pattern>/</url-pattern>-->
    <!--</servlet-mapping>-->


<welcome-file-list><welcome-file>
    CoffeeTypeController
</welcome-file></welcome-file-list>
</web-app>